name: Docker Image CI

on:
  push:
  pull_request:

jobs:

  build:

    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: my-airflow-image
      IMAGE_TAG: ${{ github.sha }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build . \
            --file Dockerfile \
            --tag $IMAGE_NAME:$IMAGE_TAG

      - name: Validate Airflow DAGs
        run: |
          docker run --rm \
            -e AIRFLOW__CORE__LOAD_EXAMPLES=False \
            "$IMAGE_NAME:$IMAGE_TAG" \
            bash -lc '
              airflow db migrate &&
              airflow dags list-import-errors
            '